.range-slider {
    margin: auto;
    height: 30px;
    background: #dddddd;
  }

  .range-slider .range-slider__thumb {
    width: 21px;
    height: 36px;
    border-radius: 4px;
    background: #2d3436;
    background-repeat: no-repeat;
    background-position: center;
    cursor: grab;
  }
  
  .range-slider .range-slider__thumb::before,
  .range-slider .range-slider__thumb::after {
    content: '';
    position: absolute;
    top: 10%;
    bottom: 10%;
    border: 1px solid #dbdbdb;
    border-top: none;
    border-bottom: none;
    width: calc(40% - 1.5px);
  }
  
  .range-slider .range-slider__thumb::before {
    left: 20%;
  }
  
  .range-slider .range-slider__thumb::after {
    right: 20%;
  }
  
  .range-slider .range-slider__range {
    background: #5a686c;
  }
  