html, body { height: 100% }
#root {
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.range-slider {
  margin: auto;
  height: 40px;
  background: #dddddd;
}
.range-slider .range-slider__thumb {
  width: 41px;
  height: 50px;
  border-radius: 4px;
  background: #2d3436;
  background-repeat: no-repeat;
  background-position: center;
  cursor: grab;
}

.range-slider .range-slider__thumb::before,
.range-slider .range-slider__thumb::after {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  border: 2px solid #dbdbdb;
  border-top: none;
  border-bottom: none;
  width: calc(40% - 6px);
}

.range-slider .range-slider__thumb::before {
  left: 40%;
}

.range-slider .range-slider__thumb::after {
  right: 40%;
}

.range-slider .range-slider__range {
  background: #5a686c;
}
