version: '3'

services:
  api:
    build: ./
    volumes:
      - './cache:/cache:rw'
      - ./.flake8:/app/.flake8:ro
      - ./app:/usr/local/lib/python3.9/site-packages/app:ro
    environment:
      - WORKERS_PER_CORE=1
      # Kobo credentials
      - KOBO_USERNAME=${KOBO_USERNAME:-kobo_user}
      - KOBO_PW
      # Alerts database
      - DATABASE_URL
