Flask-Caching==1.9.0
Flask-Cors==3.0.9
flask-restx==0.5.1
rasterstats==0.17.0
requests==2.23.0
Shapely==1.7.0
# Used by `make test` only:
mock==4.0.2
pytest==5.4.3
pytest-cov==2.10.0
Flask-Testing==0.8.0
# Used by `make lint` only:
black==22.6.0
isort==5.10.1
pydocstyle==5.0.2
psycopg2==2.8.6
sqlalchemy==1.4.5
python-dateutil==2.8.2
