Flask-Caching==1.9.0
Flask-Cors==3.0.8
rasterstats==0.14.0
requests==2.23.0
Shapely==1.7.0
# Used by `make test` only:
mock==4.0.2
pytest==5.4.3
pytest-cov==2.10.0
Flask-Testing==0.8.0
# Used by `make lint` only:
flake8==3.8.3
flake8-import-order==0.18.1
flake8-quotes==3.2.0
pydocstyle==5.0.2
psycopg2==2.8.6
sqlalchemy==1.4.5