interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://floodforecasting.googleapis.com/v1/gauges:queryGaugeForecasts?gaugeIds=hybas_1121465590&gaugeIds=hybas_1121499110
  response:
    body:
      string: "{\n  \"forecasts\": {\n    \"hybas_1121465590\": {\n      \"forecasts\":
        [\n        {\n          \"issuedTime\": \"2025-12-03T14:01:11.544086Z\",\n
        \         \"forecastRanges\": [\n            {\n              \"value\": 486.43243408203125,\n
        \             \"forecastStartTime\": \"2025-12-01T00:00:00Z\",\n              \"forecastEndTime\":
        \"2025-12-02T00:00:00Z\"\n            },\n            {\n              \"value\":
        485.821044921875,\n              \"forecastStartTime\": \"2025-12-02T00:00:00Z\",\n
        \             \"forecastEndTime\": \"2025-12-03T00:00:00Z\"\n            },\n
        \           {\n              \"value\": 483.80557250976562,\n              \"forecastStartTime\":
        \"2025-12-03T00:00:00Z\",\n              \"forecastEndTime\": \"2025-12-04T00:00:00Z\"\n
        \           },\n    [...]
