interactions:
- request:
    body: '{"regionCode": "BD"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://floodforecasting.googleapis.com/v1/floodStatus:searchLatestFloodStatusByArea
  response:
    body:
      string: "{\n  \"floodStatuses\": [\n    {\n      \"gaugeId\": \"BWDB_SW270\",\n
        \     \"issuedTime\": \"2025-12-09T15:54:22.052412Z\",\n      \"severity\":
        \"UNKNOWN\",\n      \"source\": \"BWDB\",\n      \"gaugeLocation\": {\n        \"latitude\":
        24.691644,\n        \"longitude\": 91.389698\n      },\n      \"qualityVerified\":
        true\n    },\n    {\n      \"gaugeId\": \"BWDB_SW228\",\n      \"issuedTime\":
        \"2025-12-09T15:56:55.082424Z\",\n      \"severity\": \"UNKNOWN\",\n      \"source\":
        \"BWDB\",\n      \"gaugeLocation\": {\n        \"latitude\": 24.737208,\n
        \       \"longitude\": 90.431068\n      },\n      \"qualityVerified\": true\n
        \   },\n    {\n      \"gaugeId\": \"BWDB_SW34\",\n      \"issuedTime\": \"2025-12-09T15:54:18.666005Z\",\n
        \     \"severity\": \"UNKNO[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://floodforecasting.googleapis.com/v1/gauges:batchGet?names=gauges%2FBWDB_SW101&names=gauges%2FBWDB_SW110&names=gauges%2FBWDB_SW117&names=gauges%2FBWDB_SW119.1&names=gauges%2FBWDB_SW131.5&names=gauges%2FBWDB_SW132.2&names=gauges%2FBWDB_SW133&names=gauges%2FBWDB_SW137A&names=gauges%2FBWDB_SW14.5&names=gauges%2FBWDB_SW140&names=gauges%2FBWDB_SW142.1&names=gauges%2FBWDB_SW145&names=gauges%2FBWDB_SW147.5&names=gauges%2FBWDB_SW157&n[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://floodforecasting.googleapis.com/v1/gaugeModels:batchGet?names=gaugeModels%2FBWDB_SW101&names=gaugeModels%2FBWDB_SW110&names=gaugeModels%2FBWDB_SW117&names=gaugeModels%2FBWDB_SW119.1&names=gaugeModels%2FBWDB_SW131.5&names=gaugeModels%2FBWDB_SW132.2&names=gaugeModels%2FBWDB_SW133&names=gaugeModels%2FBWDB_SW137A&names=gaugeModels%2FBWDB_SW14.5&names=gaugeModels%2FBWDB_SW140&names=gaugeModels%2FBWDB_SW142.1&names=gaugeModels%2FB[...]
