version: "3"
services:
  alerting-db:
    image: kartoza/postgis:16-3
    restart: always
    ports:
      - 54321:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=!ChangeMe!
    volumes:
      - ./db_data:/var/lib/postgresql
  alerting-node:
    build:
      context: ../
      dockerfile: ./alerting/Dockerfile
      args:
        CHROME_VERSION: "126.0.6478.126"
    restart: always
    volumes:
      - ../alerting:/prism_app
      - /prism_app/node_modules
      - ../common:/common
      - /common/node_modules
    working_dir: /prism_app
    environment:
      - POSTGRES_HOST=alerting-db
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=!ChangeMe!
      - PRISM_ALERTS_DATABASE_URL
      # Set from secrets in api/set_envs.sh
      - PRISM_ALERTS_EMAIL_HOST=${PRISM_ALERTS_EMAIL_HOST}
      - PRISM_ALERTS_EMAIL_PASSWORD=${PRISM_ALERTS_EMAIL_PASSWORD}
      - PRISM_ALERTS_EMAIL_USER=${PRISM_ALERTS_EMAIL_USER}
