version: '3'
services:
  alerting-db:
    image: kartoza/postgis:12.1
    restart: always
    ports:
      - 54321:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD='!ChangeMe!'
    volumes:
      - ./db_data:/var/lib/postgresql
  alerting-node:
    build: ./
    restart: always
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      - POSTGRES_HOST=alerting-db
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD='!ChangeMe!'
      - DATABASE_URL
      - EMAIL_PASSWORD
      - EMAIL_USER
