@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400;600&display=swap');

@font-face {
  font-family: Khmer;
  src: url(./fonts/Khmer-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
