# Python files
*.pyc
app/.coverage

#Cached folder
cache/

# Cached files
*.cache

.venv

# Local PostGIS volume for alerting-db (docker compose)
alerting_db_data/

# Test files
**.json.*
**/.hypothesis/**
app/__pycache__/**

