services:
  api:
    build: ./
    volumes:
      - "./cache:/cache:rw"
      - ./app:/usr/local/lib/python3.9/site-packages/app:ro
    environment:
      - WORKERS_PER_CORE=1
      # External services credentials
      - KOBO_USERNAME=${KOBO_USERNAME:-kobo_user}
      - KOBO_PASSWORD=${KOBO_PASSWORD:-test}
      - ACLED_API_KEY=${ACLED_API_KEY:-changeme}
      - ACLED_API_EMAIL=${ACLED_API_EMAIL:-changeme}
      - HDC_TOKEN
      # Alerts database
      - PRISM_ALERTS_DATABASE_URL
    ports:
      - '80:80'
