version: "3"

networks:
  traefik_default:
    external: true

services:
  traefik:
    # https://docs.traefik.io/user-guides/docker-compose/acme-tls/
    image: "traefik:v2.11"
    container_name: "traefik"
    command:
      - "--log.level=INFO"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.network=traefik_default"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
      - "--certificatesresolvers.myresolver.acme.email=${INFO_EMAIL:?'Must provide info email'}"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
      - traefik.docker.network=traefik_default
    networks:
      - traefik_default
    ports:
      - "443:443"
      - "8080:8080"
    volumes:
      - "./letsencrypt:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    restart: unless-stopped

  api:
    container_name: "api"
    shm_size: '2gb'
    networks:
      - traefik_default
      - default
    ports:
      - "80:80"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(`${HOSTNAME:?'Must provide hostname'}`)"
      - "traefik.http.routers.whoami.entrypoints=websecure"
      - "traefik.http.routers.whoami.tls.certresolver=myresolver"
    environment:
      - "RUN=uvicorn prism_app.main:app --host 0.0.0.0 --port 80"
      - BROWSER_POOL_SIZE=4
      # make sure that the alert password is properly set
      - PRISM_ALERTS_DATABASE_URL=${PRISM_ALERTS_DATABASE_URL:?"Provide a URL for the alerts database."}
      - KOBO_PASSWORD=${KOBO_PASSWORD:?"Add a password to access KOBO data."}
      - KOBO_USERNAME=${KOBO_USERNAME:?"Add a user to access KOBO data."}
      - HDC_TOKEN=${HDC_TOKEN:?"Provide a token to access HDC chart data."}
      - STAC_AWS_ACCESS_KEY_ID=${STAC_AWS_ACCESS_KEY_ID:?"Provide the AWS access key for the stac api."}
      - STAC_AWS_SECRET_ACCESS_KEY=${STAC_AWS_SECRET_ACCESS_KEY:?"Provide the AWS secret key for the stac api."}
      - GOOGLE_FLOODS_API_KEY=${GOOGLE_FLOODS_API_KEY:?"Provide the Google Floods API key."}
      - VECTOR_STORE_ACCESS_KEY_ID=${VECTOR_STORE_ACCESS_KEY_ID}
      - VECTOR_STORE_SECRET_ACCESS_KEY=${VECTOR_STORE_SECRET_ACCESS_KEY}
      - VECTOR_STORE_DEFAULT_REGION=${VECTOR_STORE_DEFAULT_REGION}
    command: uvicorn prism_app.main:app --host 0.0.0.0 --port 80
    restart: always
    # adding a DNS to allow self lookup of the api
    dns:
      - 8.8.8.8
