certifi==2023.7.22
charset-normalizer==3.2.0
exceptiongroup==1.1.2
greenlet==2.0.2
idna==3.4
iniconfig==2.0.0
packaging==23.1
playwright==1.35.0
pluggy==1.2.0
py==1.11.0
boto3==1.26.26
cachetools==5.2.0
fastapi==0.95.2
Fiona==1.8.22
gunicorn==20.1.0
odc-geo==0.3.2
odc-stac==0.3.6
pystac-client==0.7.2
pystac==1.8.1
rasterstats==0.17.0
requests==2.31.0
Shapely==1.8.2
uvicorn[standard]==0.18.2
# Used by `make test` only:
mock==4.0.3
# to get email validation
pydantic[email]==1.9.2
pytest-cov==3.0.0
schemathesis==3.19.5
psycopg2==2.9.3
sqlalchemy==1.4.40
sqlalchemy2-stubs==0.0.2a25
python-dateutil==2.8.2
# Used by `make lint` only:
black==22.6.0
isort==5.10.1
mypy==0.971
pydocstyle==6.1.1
pyee==9.0.4
pyparsing==3.1.0
pyrsistent==0.19.3
pytest==7.4.0
pytest-base-url==2.0.0
pytest-playwright==0.3.3
python-dotenv==1.0.0
python-slugify==8.0.1
pytz==2023.3
PyYAML==6.0
requests==2.31.0
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
text-unidecode==1.3
tomli==2.0.1
tomli_w==1.0.0
types-python-dateutil==2.8.19
types-requests==2.28.8
types-urllib3==1.26.25.13
typing_extensions==4.7.1
urllib3==1.26.16
pytest-asyncio==0.21.1