# This is a basic workflow to help you get started with Actions

name: PRISM Alerts

on:
  schedule:
    # Run every day at 1am
    - cron: "0 1 * * *"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      env:
        POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
        POSTGRES_PORT: 54321
        POSTGRES_USER: postgres
        POSTGRES_DB: postgres
        DATABASE_URL: ${{ secrets.DATABASE_URL }}
        EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '12'

     # Run alert worker
      - run: cd alerting
      - run: yarn
      - run: ts-node src/alert-worker.ts
