name: PRISM CI - Alerting
on:
  # Run on all pull requests and on pushes to master.
  pull_request:
  push:
    branches:
      - master

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    env:
      PRISM_ALERTS_DATABASE_URL: ${{ secrets.PRISM_ALERTS_DATABASE_URL }}
      EMAIL_PASSWORD: ${{ secrets.PRISM_ALERTS_EMAIL_PASSWORD }}

    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "20"

      # Install Chrome for Puppeteer
      - name: Install Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y chromium-browser

      # Lint and test
      - run: |
         cd alerting
         yarn install
         yarn setup:common
         # Install puppeteer dependencies
         PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true yarn add puppeteer puppeteer-core
         yarn lint
         yarn test
         # Run flood alert worker with test email
         yarn aa-flood-alert-worker --testEmail='hello@ovio.org'

      - name: Security audit
        run: cd alerting && yarn run audit
